table {
  width: 100%;
}

.btn{
  color: white;
}
td {
  text-align: right;
  padding: 10px;
}

.logo {
  width: 65px;
  height: 25px;
}

.icono{
  width: 45px;
  height: 45px;
}
.barraSuperior {
  background-color: #135b88;
  text-align: right;
}

.primerosBotones {
  background-color: #1770a6;
}

table.primerosBotones {
  width: 100%;
}

table.primerosBotones td {
  text-align: center;
  padding: 10px;
}

table.primerosBotones .btn {
  text-decoration: none;
}

.segundoBotones {
  background-color: #147aae;
}

td img {
  display: block;
  margin: 0 auto;
}


.td-escudo{
  position: relative;
  width: 15%;
}

.td-img {
  position: absolute;
  width: 100%;
  height: 425%;
  top: 0;
  left: 0;
}

.td-logo {
  position: absolute;
  margin-top: 40%;
  align-content: center;
  width: 80%;
  height: 400%;
  top: 0;
  left: 0;
  transform: translate(13%, -50%);
}

.td-slogan {
  position: absolute;
  margin-top: 125%;
  align-content: center;
  width: 215%;
  height: 400%;
  top: 0;
  left: 0;
  transform: translate(-30%, -50%);
}

body {
  background: url(images/fondo3.jpg);
  background-size: cover;
}

